*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: monospace;
}

body{
    background:#120896;
}

.wrapper{
    background:#fff;
    width:90vmin;
    padding:20px;
    border-radius:10px;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.opt-wrapper{
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin-bottom:20px;
    flex-wrap:wrap;
}

.slider{
    display:flex;
    flex-direction:column;
}

button{
    padding:10px;
    border:none;
    background:#8805af;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
}

input[type="color"]{
    width:60px;
    height:40px;
    border:none;
    cursor:pointer;
}

.container{
    display:grid;
    margin-top:20px;
    user-select:none;
}

.gridCol{
    border:1px solid #ddd;
    width:20px;
    height:20px;
}